@font-face {
    font-family: Nexa;
    src: url(fonts/Nexa-Light.otf);
    font-weight: normal;
}

@font-face {
    font-family: Nexa;
    src: url(fonts/Nexa-Bold.otf);
    font-weight: bold;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Nexa';
    margin: 0;
    padding: 0;
}

#name {
    font-size: 3.1em;
    margin: 0.075em;
    display: none;
}
/*Navigation*/

#navbar {
    display: none;
}

.side-nav {
    position: relative;
    opacity: 0.45;
    color: rgba(0, 0, 0, 1);

    -webkit-transition-property: width;

    transition-property: width;
    -webkit-transition-duration: 0.675s;
    transition-duration: 0.675s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

ul.side-nav li {
    padding: 0;
    margin-top: 1.75em;
    margin-bottom: 2.25em;
    display: none;
}

#navbar.side-nav.fixed a {
    color: rgba(0, 0, 0, 1);
    font-size: 2.55em;
}

i {
    display: inline;
    width: 1.2em;
    margin-left: .1em;
}

li a {
    height: 52px;
}

i:hover {
    opacity: 0.5;
}

div.hidemenu {
    display: inline-block;
}

ul.side-nav.fixed {
    left: 0;
    width: 75px;
    position: absolute;
    height: 99.5vh;
    overflow: hidden;
}
/* end navigation */

.hidemenu {
    opacity: 0;
    -webkit-transition: all .9s ease;
    transition: all .9s ease;
    width: 0;
    height: 0;
}

.noScroll{
    overflow-y: hidden;
}
*/
/*Navigation*/

a:link {
    color: black;
    text-decoration: none;
}
/*transitions*/

main.ng-enter,
main.ng-move {
    -webkit-animation: fadeIn 1.2s ease-in;
    animation: fadeIn 1.2s ease-in;
}

main.ng-leave {
    animation: fadeOut 0.8s ease;
    -webkit-animation: fadeOut 0.8s ease;
}
/*transitions*/
@media screen and (min-width: 320px) {}

@media screen and (min-width: 540px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
    .material-tooltip {
        z-index: -1000;
        min-height: 500;
    }
    ul.side-nav.fixed {
        width: 240px;
    }
    .hidemenu {
        opacity: 1;
        width: 1.5em;
        -webkit-transition-delay: .1s;
        transition-delay: .1s;
    }
    #name {
        margin-left: 0.2em;
    }
    #navbar {
    position: fixed;
    margin-top: 0 !important;
    }
}
