#navbar{
    background-color: black;
    min-height: 2.75em;
    opacity: .5;
    text-align: right;
}
.navbutton{
    font-size: 2em;
    font-family: 'Open Sans';
    color: white;
    padding: 1em;
    position: relative;
}
h1{
    color: grey;
    text-align: center;
    font-size: 4em;
    font-family: 'Montserrat';
    font-weight: 400
}
