.project {
    margin: 1em;
    width: 100%;
}
.projects {
    margin-left: 5em;
    margin-right: 5em;
    text-align: center;
}
#projecthead {
    padding-left: 1em;
    margin-top: 0;
    text-align: left;
}
p {
    text-align: center
}
img.projectImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 12em;
    max-height: 12em;
}
.overlay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 12em;
    max-width: 12em;
    background-color: grey;
}
.hover {
    opacity: 0.6;
}
.button {
    position: relative;
    top: -5.8em;
    text-align: center;
    opacity: 1;
    display: none;
    font-size: 0.7em;
    max-height: 2em;
}
.circular {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    border: grey;
}
.tech {
    max-height: 1.25em;
    padding-left: 0.1em;
}
.techcontainer {
    text-align: center;
    position: relative;
    padding-bottom: 4em;
}
.tech:hover {
    opacity: 0.5;
}
.label {
    color: black;
}
.shown {
    display: inline-block;
}
.figure {
    display: inline-block;
}
.ng-enter,
.ng-move {
    -webkit-animation: bounceIn 10s;
    -moz-animation: bounceIn 10s;
    -o-animation: bounceIn 10s;
    animation: bounceIn 10s;
}
.ng-leave {
    -webkit-animation: fadeOut 0.2s;
    -moz-animation: fadeOut 0.2s;
    -o-animation: fadeOut 0.2s;
    animation: fadeOut 0.2s;
}
@media screen and (min-width: 320px) {
    .tech {
        max-height: 1.75em;
    }
    img.projectImg,
    .overlay {
        max-width: 11em;
        max-height: 11em;
    }
}
@media screen and (min-width: 540px) {
    .tech {
        max-height: 3.5em;
    }
    img.projectImg,
    .overlay {
        max-width: 16em;
        max-height: 16em;
    }
    .button {
        top: -7.25em;
        max-height: none;
    }
    a p {
        font-size: 1.8em;
    }
}
@media screen and (min-width: 768px) {
    img.projectImg,
    .overlay {
        max-width: 20em;
        max-height: 20em;
    }
    .button {
        top: -8.5em;
        min-height: 3em;
        min-width: 17em;
    }
    a p {
        font-size: 2em;
    }
}
@media screen and (min-width: 1024px) {
    img.projectImg,
    .overlay {
        max-width: 25em;
        max-height: 25em;
    }
    .button {
        min-height: 3em;
        min-width: 17em;
        top: -8.5em;
    }
}
@media screen and (min-width: 1224px) {
    a p {
        font-size: 2.5em;
    }
    .tech {
        max-height: 4em;
    }
    img.projectImg,
    .overlay {
        max-width: 30em;
        max-height: 30em;
    }
    .button {
        min-height: 4em;
        min-width: 25em;
        top: -10em;
    }
}
@media screen and (min-width: 1824px) {
    .tech {
        max-height: 3.5em;
    }
    .project {
        width: 31%;
        padding-top: 1.6em;
    }
    img.projectImg,
    .overlay {
        max-width: 22em;
        max-height: 22em;
    }
    p {
        font-size: 2em;
    }
    .techcontainer {
        padding-bottom: 0.5em;
    }
}
