main {
    min-height: 100vh;
    background-color: #E4F1FE;
    margin-right: 10%;
    margin-left: 10%;
    max-width: 100%;
}

#projecthead {
    text-align: left;
}

#projpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 20em;
    max-width: 20em;
}

#exit {
    font-size: 4em;
    position: fixed;
    top: 0.2em;
    right: 1vw
}

#gitpic {
    display: block;
    margin-right: auto;
    max-height: 5em;
}

#webpic {
    display: block;
    margin-left: auto;
    max-height: 5em;
}
#webpic:hover, #gitpic:hover{
    opacity: 0.8;
}
#gitcaption{
    text-align: left;
    max-width: 50%;
    text-decoration: underline
}
#webcaption{
    position: relative;
    text-align: right;
    text-decoration: underline;

}
h4 {
    text-align: center;
}
