#projDescMain {
    margin: 0;
    background-color: #EFEBE9;
    margin-left: 80px;
    margin-top: 4em;
    max-width: 100%;
    padding-bottom: 2.5em
}

#exit {
    font-size: 7.5vw;
    position: absolute;
    top: 0.1em;
    right: 0.5vw;
}

.parallax {
    z-index: 1000;
}

.row {
    padding-top: 1em;
}

.shift {
    padding: 0.25em;
    padding-bottom: 0;
}

#projectvideo {
    height: 30vw;
    width: 50vw;
}

#gitpic,
#webpic {
    height: 20vw;
    max-height: 5em;
}

.writing {
    margin: 1em;
}

#webpic:hover,
#gitpic:hover {
    opacity: 0.65;
}

section p {
    text-align: left;
    font-size: 0.8em;
}

.code {
    padding: none;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.codeimg {
    max-width: 65vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#projectvideo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#rightarrow,
#leftarrow {
    max-height: 8em;
    padding: 2em;
}

.arrows {
    margin-left: 80px;
}

h1 {
    font-size: 2.35em;
    line-height: 1em;
    margin-bottom: .1em;
}

h2 {
    font-size: .75em;
    line-height: 1.25em;
    margin-top: 0;
    padding-left: 0.5em;
}
h4{
    text-align: center;
}

@media screen and (min-width: 320px) {
    #projpic {
        max-height: 14em;
        max-width: 14em;
    }
    .codeimg {
        max-width: 52vw;
    }
    section p {
        font-size: 1em;
    }
    h1 {
        font-size: 3.25em
    }
    h2 {
        font-size: 1.75em;
    }
}

@media screen and (min-width: 540px) {
    #exit {
        font-size: 9vw;
    }
    #projpic {
        max-height: 16em;
        max-width: 16em;
    }
    #exit {
        font-size: 3em;
    }
    section p {
        font-size: .9em;
    }
    .writing {
        /*        margin: 2em;*/
    }
    #projDescMain {
        margin-right: 60px;
        margin-left: 140px;
    }
    h1 {
        font-size: 4.25em
    }
    h2 {
        font-size: 1.7em;
    }
}

@media screen and (min-width: 768px) {
    #projpic {
        max-height: 20em;
        max-width: 20em;
    }
    #exit {
        font-size: 3.2em;
    }
    section p {
        font-size: 1em;
    }
    @media screen and (min-width: 992px) {
        #projDescMain {
            margin-right: 60px;
            margin-left: 300px;
        }
        #projpic {
            max-height: 25em;
            max-width: 25em;
        }
        .codeimg {
            max-width: 56vw;
        }
        h1 {
            font-size: 4.25em
        }
        h2 {
            font-size: 2.5em;
        }
        .arrows {
            margin-left: 240px;
        }
    }
    @media screen and (min-width: 1224px) {
        #projpic {
            max-height: 30em;
            max-width: 30em;
        }
        section p {
            text-align: left;
            font-size: 1.5em;
        }
        #projectvideo {
            height: 20vw;
            width: 35vw;
        }
        h1 {
            font-size: 5.76em
        }
        h2 {
            font-size: 3em;
        }
    }
    @media screen and (min-width: 1824px) {}
